SERVICE_NAME=ServiceName
SERVICE_VERSION=1.0.0
DEBUG=1
LOG_LEVEL=debug
HTTP_PORT=3000
DATABASE_PROTOCOL=mongodb
DATABASE_HOST=mongo
DATABASE_PORT='27017'
DATABASE_USER=dev
DATABASE_PASSWORD=dev
DATABASE_NAME=example-db
DATABASE_PARAMS='retryWrites=true&w=majority'
