SERVICE_NAME=ServiceName
SERVICE_VERSION=1.0.0
DEBUG=1
LOG_LEVEL=debug
HTTP_PORT=3000
DATABASE_PROTOCOL=mongodb
DATABASE_HOST=mongo
DATABASE_PORT='27017'
DATABASE_USER=dev
DATABASE_PASSWORD=dev
DATABASE_NAME=example-db
DATABASE_PARAMS='retryWrites=true&w=majority'
TOKEN_SECRET_KEY='LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0KTUZrd0V3WUhLb1pJemowQ0FRWUlLb1pJemowREFRY0RRZ0FFay9Xd3EzR1BudGZwSHlFdktYeTRoZGhRY3pueApzN3ZWc0hIck5vVmxsK2REZHpQNUJtaFc5dHVUejUzaU9qWitxVWgyUTNxUGlsRWRld2h3L0ppTTJRPT0KLS0tLS1FTkQgUFVCTElDIEtFWS0tLS0tCg=='
